{% if user.is_authenticated %}
    <div>
        <div class="article-block">
            <h1>Share "{{ post.title }}" by e-mail</h1>
        </div>
    </div>
    <div>
        <div class="article-block">
            <form action="{% url 'blog:post_share' post.id %}" method="post">
                <div>
                    <input class="comment-textarea__real-Em" type="email" name="email" maxlength="320" aria-label="from share input field" placeholder="From E-mail" required="" id="id_email">
                </div>
                <div>
                    <input class="comment-textarea__real-Em" type="email" name="to" maxlength="320" aria-label="to share input field" placeholder="To E-mail" required="" id="id_to">
                </div>
                <div>
                    <textarea class="comment-textarea__real-Em" name="comments" maxlength="2500" aria-label="Comment input field" placeholder="Write a comment" id="comment_textarea"></textarea>
                </div>
                {% csrf_token %}
                <div>
                    <button class="search-btn btn" type="submit" value="Share">
                        <span>Add</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endif %}