{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'css/blog.css' %}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    </head>
    <body class="page">
        <header class="page-header page-header_border-shadow">
            <div class="page-header__inner">
                <div class="page-header__top">
                    <div class="page-header__logo">
                        <a class="page-header__logo_link link" href="{% url 'blog:post_list' %}" aria-label="My Blog">
                            <span class="byiNfl_1">One</span>
                            <span class="byiNfl_2">Code</span>
                        </a>
                    </div>
                    <nav class="page-header__main-menu" aria-label="The main menu" itemscope="itemscope"
                     itemtype="http://www.schema.org/SiteNavigationElement">
                        <!-- mobile main_menu -->
                        <div class="page-header__main-menu__navigation page-header__main-menu__navigation__wrapper">
                            <div class="" style="margin-right: 16px;">
                                <form action="/search" method="GET" class="search-bar">
                                    <input type="search" name="query" pattern=".*\S.*" required>
                                    <button class="search-btn btn" type="submit" value="Search">
                                        <span>Search</span>
                                    </button>
                                </form>
                            </div>
                            {% if user.is_authenticated %}
                                <div class="btn page-header__main-menu__navigation__item page-header__navigation-menu__item" style="margin-right: 16px;">
                                    <a class="link" href="/" data-clickable="true" rel="noopener" data-log-node="0--100">
                                        <span>Create</span>
                                    </a>
                                </div>
                                <div class="btn lc-navigation-menu__item">
                                    <div class="headline__personal-item">
                                        <div class="headline__personal-icon">
                                            <svg viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 12.167c0-.645.56-1.167 1.25-1.167h22.5c.69 0 1.25.522 1.25 1.167 0 .644-.56 1.166-1.25 1.166H8.75c-.69 0-1.25-.522-1.25-1.166ZM7.5 20c0-.644.56-1.167 1.25-1.167h22.5c.69 0 1.25.523 1.25 1.167s-.56 1.167-1.25 1.167H8.75c-.69 0-1.25-.523-1.25-1.167Zm1.25 6.667c-.69 0-1.25.522-1.25 1.166 0 .645.56 1.167 1.25 1.167h22.5c.69 0 1.25-.522 1.25-1.167 0-.644-.56-1.166-1.25-1.166H8.75Z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                    <ul class="lc-navigation-menu__submenu">
                                        <li>
                                            <a class="Link link lc-link lc-navigation-menu__link" href="/"  data-clickable="true" rel="noopener" data-log-node="0--99">
                                                <div class="lc-styled-text">
                                                    <div class="lc-styled-text__text">Profile</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="Link link lc-link lc-navigation-menu__link" href="/"  data-clickable="true" rel="noopener" data-log-node="0--99">
                                                <div class="lc-styled-text">
                                                    <div class="lc-styled-text__text">Publications</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="Link link lc-link lc-navigation-menu__link" href="/"  data-clickable="true" rel="noopener" data-log-node="0--99">
                                                <div class="lc-styled-text">
                                                    <div class="lc-styled-text__text">Settings</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="Link link lc-link lc-navigation-menu__link" href="/"  data-clickable="true" rel="noopener" data-log-node="0--99">
                                                <div class="lc-styled-text">
                                                    <div class="lc-styled-text__text">Log out</div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            {% else %}
                                <div class="page-header__main-menu__navigation__item page-header__navigation-menu__item" style="margin-right: 16px;">
                                    <a class="link" href="/" data-clickable="true" rel="noopener" data-log-node="0--100">
                                        <span>Log in</span>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <main class="page_container-main">
            <div class="page_container-placeholder"></div>
            <section id="main_block" class="lc-section lc-section_is-expanded lpc-section ">
                <div class="page_container-center">
                    <div class="page-content">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </section>
        </main>
<!--        <footer class="page-footer">-->
<!--            <h1>hello</h1>-->
<!--        </footer>-->
    {% block javascript %}
    <script>
        if (window.location.href.includes('URL_вашей_страницы')) {
            const textarea = document.getElementById('comment_textarea');

            textarea.addEventListener('input', function() {
              this.style.height = 'auto'; // Сначала сбросим высоту
              this.style.height = this.scrollHeight + 'px'; // Затем установим новую высоту равную высоте содержимого
            });
        }
        document.getElementById('scrollToComments_1').addEventListener('click', function() {
            document.getElementById('commentsBlock').scrollIntoView({ behavior: 'smooth' });
        });
        document.getElementById('scrollToComments_2').addEventListener('click', function() {
            document.getElementById('commentsBlock').scrollIntoView({ behavior: 'smooth' });
        });
        function scrollToComments(path) {
            document.getElementById(path).scrollIntoView({ behavior: 'smooth' });
        };
//        PathToComments
        function pathToComments(absolute_url) {
            window.location.href = absolute_url + '#commentsBlock';
        }
    </script>
    <script>
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Найти имя куки, начинающееся с переданного имени
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }




            function like(id, url){
                var csrftoken = getCookie('csrftoken');
                $.ajaxSetup({beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                      xhr.setRequestHeader('X-CSRFToken', csrftoken);
                    }
                  }
                });

                $.ajax({
                    type: "POST", // Метод запроса
                    url: '/' + id + '/like/', // url запроса
                    data: {                 // Параметры для запроса
                        'id': id,
                        'X-CSRFToken': csrftoken
                    },
                    success: function(response) { // Код который выполнится  для удачного запроса
                         console.log(response);

                    },
                    error: function(response) { // Код который выполнится  при ошибке запроса
                        console.log(response);
                    }

                });
            }
        </script>
    {% endblock %}
    </body>
</html>