{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<article class="page_container_content-block_item">
    <div class="_37R6h8OheC">
        <div>
            <div class="article-block">
                <h1 class="article-title article-title_h1">
                    {{ post.title }}
                </h1>
            </div>
        </div>
        <div>
            {% include "blog/post/includes/socials-block.html" with param="scrollToComments('commentsBlock')"  %}
        </div>
        <div>
            <div class="article-block">
                {{ post.body|markdown_filter }}
            </div>
        </div>
        <div>
            {% include "blog/post/includes/socials-block.html" with param="scrollToComments" param_2='commentsBlock'  %}
        </div>
<!--        <p>-->
<!--            <a class="Link link" href="{% url 'blog:post_share' post.id %}">-->
<!--                Share this post-->
<!--            </a>-->
<!--        </p>-->
        <div>
            <div class="article_h2">
                <h2>Similar Posts</h2>
            </div>
            {% for post in similar_posts %}
                <p>
                    <a class="Link link" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </p>
            {% empty %}
                Ther are no similar posts yet.
            {% endfor %}
        </div>
        <div>
            {% include "blog/post/includes/comment_form.html" %}
        </div>
        <div id="commentsBlock">
            {% for comment in comments %}
                <div class="comments-block">
                    <div class="comments-block__noShrink">
                        <div style="text-align: right">
                            <a href="" rel="dofollow" target="_blank" data-testid="header-view-link" class="ui-channel-info__link" itemprop="url">
                                <span class="channel-info__title">
                                    {{ comment.author }}
                                </span>
                            </a>
                        </div>
                        <div class="ui-content-date_info">
                            Published {{ comment.created }}
                        </div>
                    </div>
                    <div class="comments-body">
                        {{ comment.body|linebreaks }}
                    </div>
                </div>
            {% empty %}
                <div>
                    <p>There are no comments.</p>
                </div>
            {% endfor %}
        </div>
    </div>
</article>
{% endblock %}