{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}Posts{% endblock %}

{% block content %}
    {% if tag %}
        <div class="page_container_content-block_item">
            <div class="_37R6h8OheC">
                    <h2 class="article-title article-title_h2">Posts tagged with "{{ tag.name }}"</h2>
            </div>
        </div>
    {% endif %}
    {% for post in posts %}
        <article class="page_container_content-block_item">
            <div class="_37R6h8OheC">
                <h2 class="article-title article-title_h2">
                    <a class="link main_link_title" href="{{ post.get_absolute_url }}">
                        {{ post.title }}
                    </a>
                </h2>
            </div>
            <div class="_37R6h8OheC">
                <div class="block-inblock">
                    <p style="width: 7%;">Tags: </p>
                    <p class="tags">
                        {% for tag in post.tags.all %}
                            <a class="link main_link_title" style="color: #1b90fac5" href="{% url 'blog:post_list_by_tag' tag.slug %}">
                                {{ tag.name }}
                            </a>
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="content-block_article _37R6h8OheC _37R6h8OheC_body">
                {% if post.description != "None" %}
                    {{ post.description|markdown|truncatechars_html:1000|safe }}
                {% else %}
                    {{ post.body|markdown_filter|truncatechars_html:1000|safe }}
                {% endif %}
                <span class="read-more">
                    <a class="link main_link_title" style="color: #1b90fac5" href="{{ post.get_absolute_url }}">
                        read more
                    </a>
                </span>
            </div>
<!--            onclick="scrollToComments({{ post.get_absolute_url }})"-->
            {% include "blog/post/includes/socials-block.html" with param="pathToComments" param_2=post.get_absolute_url  %}
        </article>
    {% endfor %}
    <div class="page_container_content-block_item">
        <div class="_37R6h8OheC">
            <span class="">
                {% include "pagination.html" with page=posts %}
            </span>
        </div>
    </div>
{% endblock %}