* {
    margin: 0;
    padding: 0;
}

html {
}

body,html {
    background: 0 0;
}

body {
}

.page {
    font-family: "YS Text", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #333;
}

.link {
    color: #04b;
}


.Link {
    text-decoration: none;
}

.page-header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #E2DFD0;
}

.page-header__inner {
    margin: 0 25px;
    padding: 10px 0;
}

.page-header__top {
    display: -webkit-flex;
    display: flex;
    align-items: center;
}


.page-header__main-menu {
    width: 100%;
    height: 100%;
}

.page-header__main-menu__dropdown {
    float: right;
}

.page_container-main {
}

.page_container-placeholder {
    top: 0;
    width: 100%;
    height: 60px;
}

.page_container-center {
}

.page-content {
    margin: 0 250px;
    padding: 40px 0;
}

.page-header__logo {
    justify-content: center;
    align-items: center;
    height: 40px;
    display: flex;
    width: 100px;
}

.page-footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
}


.page-header__navigation-menu__wrapper {
    list-style: none;
}

.lc-navigation-menu__item{
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
}

@media (min-width: 426px) {
}


@media (min-width: 1440px) {
    .page-header__inner {
        max-width: 1920px;
    }
}