* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --borderRadius-medium: 0.375rem;
    --header-bg-color: #FFF;
    --base-size-8: 0.5rem;
    --matt-white: #EDEDED;
    --matt-white_hover: #E0E0E0;
    --color-g-text-quaternary: #000000;
    --zenColorBgSecondary:#eff0f2;
}

html {
}

body {
  height: 100vh;
}

body, html {
    background-color: #fbfbfb;
}

.page {
    font-family: "YS Text", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 26px;
    color: black;
}

/*-------------------Header-------------------*/
.page-header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: white;
}

.page-header__inner {
    margin: 0 1.65345vw;
    padding: 10px 0;
}

.page-header__top {
    display: -webkit-flex;
    display: flex !important;
    align-items: center;
    height: 40px;
}

.page-header__logo {
    margin: 0 3.307vw;
}

.page-header__logo_link {
    display: flex;
    font-size: 2.161rem;
    letter-spacing: -1px;
    color: black;
}

/*-----------------End Header-----------------*/

/*-------------------Main Content-------------------*/

.page_container-main {
    width: 100%;
}

.page_container-placeholder {
    width: 100%;
    padding: 20px 0;
}

.page_container-center {
    box-sizing: border-box;
    width: 100%;
    max-width: 954px;
    margin: 0 auto;
    padding-right: 17px;
    padding-left: 17px;
}

/*.page-content {*/
/*    box-sizing: border-box;*/
/*    width: 100%;*/
/*    max-width: 800px;*/
/*    margin: 0 auto;*/
/*}*/

.page_container_content-block_item {
    width: 100%;
    margin-bottom: 40px;
    background: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 1px rgba(32, 35, 51, .04), 0 2px 4px rgba(32, 35, 51, .02);
    box-shadow: 0px 1px 12px 2px rgba(36, 36, 36, 0.07) !important;
    -webkit-animation: lc-navigation-menu-submenu-appear .2s ease-in-out forwards;
    animation: lc-navigation-menu-submenu-appear .2s ease-in-out forwards;
    padding: 16px 0;
}

#main_block {
    padding-bottom: 30px;
    padding-top: 30px;
}

@media (min-width: 768px) {
    #main_block {
        padding-bottom: 50px;
        padding-top: 40px;
    }

    .page_container-placeholder {
        padding: 35px 0;
    }
}


/*-----------------Title-----------------*/

.article-title_h1 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: Fira Sans, sans-serif;
    color: var(--mine-shaft);
    font-size: 1.5rem;
    line-height: 1.3;
}

.article-title_h2 {
    line-height: 1;
}

.article_h2 {
    line-height: 1;
}

.article-title {
    font-weight: 550;
    word-break: break-word;
    margin: 0 0 8px;
}


pre {
    margin: 10px 0;
    padding: 15px 40px;
    background-color: #bcbcbc3f;
    border-radius: 5px;
    display: flex;
}

pre > code {
    overflow: hidden;
}

ul {
    padding: 10px 40px;
}
/*--------------Content-Block Article--------------*/

.content-block_article {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-size: 1rem;
    line-height: 1.5rem;
    max-height: 600px;
    -webkit-line-clamp: 50;
    -webkit-box-orient: vertical;
}

._37R6h8OheC {
/*    padding: 0 20px;*/
}


.page_container_content-block_item > div {
    max-width: 840px;
    margin: 20px auto;
}

.read-more {
    display: inline-block;
    color: blue;
    text-decoration: none;
    margin-top: 10px; /* Расстояние между текстом и ссылкой */
}

.block-space-between {
    display: flex;
    justify-content: space-between;
}

.block-inblock {
    display: flex;
    justify-content: flex-start;
}

/*--------------EndContent-Block Article--------------*/

/*-----------------End Main Content-----------------*/


/*-------------------link-------------------*/

.link {
    text-decoration: none;
    text-align: center;
    color: #000;
}

.Link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_link_title:hover {
    color: #5c5b5b;
    box-shadow: 0px 1px 12px 2px rgba(36, 36, 36, 0.07) !important;
}

.byiNfl_1 {
    margin: 0 5px 0 0;
}

.page-header__main-menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    line-height: 30px;
}

.page-header__main-menu__navigation {
}

.page-header__main-menu__navigation__wrapper{
    display: flex !important;
    align-items: center;
}

.page-header__main-menu__navigation__item {
    height: 34px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.page-header__navigation-menu__item {
    min-width: 80px;
}

.lc-navigation-menu__item {
    position: relative;
    margin: 0;
}

/*-----------------end link-----------------*/

/*----------MENU BUTTON---------------*/


.headline__personal-item {
    display: block;
    height: 2.125rem;
    position: relative;
    width: 2.125rem;
}

.headline__personal-icon {
    color: var(--color-g-text-quaternary);
    transition: opacity .15s;
}

.headline__personal-icon svg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.headline__personal-icon:hover {
    opacity: .55
}

/*----------END MENU BUTTON---------------*/


/*----------DROPDOWN---------------*/

.lc-navigation-menu__item:last-child:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 48px;
}

.lc-navigation-menu__item:last-child:hover .lc-navigation-menu__submenu {
    display: grid;
}

.lc-navigation-menu__item {
    background-color: transparent;
}

.lc-navigation-menu__item:last-child .lc-navigation-menu__submenu {
    display: none;
    top: 48px;
    right: 0;
    box-sizing: border-box;
    z-index: 20;
    width: 244px;
    padding: 8px;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "first first" "second second" "third third" "forth forth";
    border: none;
    border-radius: 4px;
    box-shadow: 0px 1px 12px 2px rgba(36, 36, 36, 0.07) !important;
}

.lc-navigation-menu__item:last-child .lc-navigation-menu__submenu li {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    border-radius: 4px;
    background: #F0F0F0;
}

.lc-navigation-menu__item:last-child .lc-navigation-menu__submenu li a {
    padding: 18px 16px;
}

.lc-navigation-menu__item:last-child .lc-navigation-menu__link {
    padding: 0;
}

.lc-navigation-menu__item:last-child .lc-styled-text {
    color: rgba(0, 0, 0, 0.85);
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.lc-styled-text__text {
    text-align: center;
    width: 100%;
}

.lc-navigation-menu__item:last-child .lc-navigation-menu__submenu li:hover {
    background: rgba(224, 224, 224, 1);
}

.lc-navigation-menu__item:last-child .lc-navigation-menu__submenu li:nth-child(1) {
    grid-area: first;
}

.lc-navigation-menu__item:last-child .lc-navigation-menu__submenu li:nth-child(2) {
    grid-area: second;
}

.lc-navigation-menu__item:last-child .lc-navigation-menu__submenu li:nth-child(3) {
    grid-area: third;
}

.lc-navigation-menu__item:last-child .lc-navigation-menu__submenu li:nth-child(4) {
    grid-area: forth;
}


.lc-navigation-menu__submenu {
    position: absolute;
    z-index: 20;
    top: 100%;
    right: 50%;
    padding: 8px 0;
    display: none;
    list-style: none;
    cursor: default;
    text-align: center;
    color: #2f2f2f;
    /*    border-radius: 4px;*/
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(13, 35, 67, .092), 0 3.3px 10px -4px rgba(13, 35, 67, .4);
    -webkit-animation: lc-navigation-menu-submenu-appear .2s ease-in-out forwards;
    animation: lc-navigation-menu-submenu-appear .2s ease-in-out forwards;
}


/*---------DROPDOWN END-----------*/

/*-------------------search-bar-------------------*/

/* до нажатие на кнопку поиска */

.search-bar input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}

.search-bar button, .search-bar input {
    font-size: 1em;
    line-height: 1.5em;
}

div .search-bar {
    display: flex;
}


.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
    transition: all 0.25s ease-out;
}

.search-bar input,
.search-btn {
    width: 80px;
    height: 34px;
}

.search-bar {
    margin: auto;
    justify-content: center;
    max-width: 100%;
}

.search-bar input {
    background: var(--matt-white);
    border-radius: 4px 0 0 4px;
    /*box-shadow: 0 0 0 1px black inset;*/
    padding: 0.75em;
    transform: translate(0em, 0em) scale(0, 1);
	transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-bar input {
    color: #171717;
}

.search-bar input::-webkit-search-decoration {
    -webkit-appearance: none;
}

.search-btn {
    position: relative;
    transform-origin: 0 50%;
}

/*---------------focus validsearch-bar---------------*/

/* после нажатие на кнопку поиска */

.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
    width: 100%;
}

.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
    outline: transparent;
}

.search-bar input:focus,
.search-bar input:valid {
    background: var(--matt-white);
    border-radius: 4px 0 0 4px;
    width: 550px;
    transform: scale(1);
    box-shadow: 0 20px 10px -20px rgb(204, 219, 232) inset, 0 -20px 10px -20px rgb(204, 219, 232) inset, 20px 0 10px -20px rgb(204, 219, 232) inset;
	background: white;
}

.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	border-radius: 0 4px 4px 0;
	box-shadow: 0 20px 10px -20px rgb(204, 219, 232) inset, 0 -20px 10px -20px rgb(204, 219, 232) inset, -20px 0 10px -20px rgb(204, 219, 232) inset;
	background: white;
	transform: scale(1);
}

/*----------------end search-bar----------------*/

/*----------------button----------------*/

.btn {
    border-radius: 4px;
    background: var(--matt-white);
    font-family: "YS Text", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: black;
}

/*-------------hover button-------------*/

.btn:hover, .search-btn:hover{
    background: var(--matt-white_hover);
    cursor: pointer;
}

/*--------------end button--------------*/

/*-------------------footer-------------------*/

.page-footer {
    width: 100%;
    height: 60px;
    background-color: red;
    text-align: center;
}

/*-----------------end footer-----------------*/


/*-------------------block__socialsBlock-------------------*/

.ui-lib-button-footer {
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 0;
    text-decoration: none;
    border: none;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background: none;
    cursor: pointer;
    text-align: left;
    box-sizing: border-box;
    border-radius: 12px;
    display: inline-block;
    min-width: 60px;
    padding: 8px 8px 12px 4px;
    font-feature-settings: "tnum" on,"lnum" on
}

.ui-lib-button-footer:hover .ui-button__content {
    background-color: rgba(0, 0, 0, .06);
    border-radius: 6px;
}




.ui-block-icon-view._padding {
    padding: 4px;
    box-sizing: border-box;
}

.ui-lib-button__icon {
    height: 32px;
}


.ui-button__content {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    transition: transform .15s ease;
}


.socials-block__leftBlock,.socials-block__socialsBlock {
    display: flex;
    flex-direction: row
}

.socials-block__leftBlock {
     flex-grow: 1;
}

.article-socials-optional__socialsBlockRedesign {
    margin: 8px -14px
}


.article-block {
    padding: 10px 0;
}

.socials-block__noShrink {

}

.ui-channel-info__link {
    text-decoration: none;
    color: inherit;
    min-width: 0;
}

.ui-content-date_info {
    font-size: 15px;
    font-weight: 550;
    color: black;
}

.ui-channel-info__link:hover {
    color: #737272;
}

a {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    -webkit-tap-highlight-color: transparent;
}


.channel-info__title {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
}

/*-----------------End__block__socialsBlock-----------------*/

.comment-textarea__real-Em {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 16px 16px 60px;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    resize: none;
    white-space: pre-wrap;
    color: rgba(6, 6, 15, .87);
    color: var(--zenColorTextPrimary);
    border: 1px solid transparent;
    border-radius: 24px;
    outline: transparent;
    background: #fff;
    background: var(--zenColorBgModal);
    height: 100%;
    word-wrap: break-word;
}

.comment-textarea__real-Em {
    padding: 16px;
    border-radius: 8px;
}

.comment-textarea__real-Em {
    background: #eff0f2;
    background: var(--zenColorBgSecondary);
}

.article-block form div {
    padding: 10px 0;
}

.article-block form div:last-child {
    padding-bottom: 20px;
}


.comment-textarea__real-Em {
    min-height: 50px; /* Минимальная высота текстового поля */
    overflow: hidden; /* Скрытие лишнего текста */
}

.comments-block {
    padding: 15px 0;
}

.comments-block__noShrink {
    display: flex;
}

.comments-block__noShrink div {
    padding: 0 20px 0 0;
}

.comments-body {
    margin: 0 20px;
    padding: 10px 0;
}